/* Coolors Exported Palette - https://coolors.co/bf211e-cbff4d-241e4e-f1edee-69a197 */

/* CSS HEX */
--cornell-red: #bf211eff;
--lime: #cbff4dff;
--russian-violet: #241e4eff;
--white-smoke: #f1edeeff;
--cambridge-blue: #69a197ff;

/* CSS HSL */
--cornell-red: hsla(1, 73%, 43%, 1);
--lime: hsla(78, 100%, 65%, 1);
--russian-violet: hsla(248, 44%, 21%, 1);
--white-smoke: hsla(345, 12%, 94%, 1);
--cambridge-blue: hsla(169, 23%, 52%, 1);

/* SCSS HEX */
$cornell-red: #bf211eff;
$lime: #cbff4dff;
$russian-violet: #241e4eff;
$white-smoke: #f1edeeff;
$cambridge-blue: #69a197ff;

/* SCSS HSL */
$cornell-red: hsla(1, 73%, 43%, 1);
$lime: hsla(78, 100%, 65%, 1);
$russian-violet: hsla(248, 44%, 21%, 1);
$white-smoke: hsla(345, 12%, 94%, 1);
$cambridge-blue: hsla(169, 23%, 52%, 1);

/* SCSS RGB */
$cornell-red: rgba(191, 33, 30, 1);
$lime: rgba(203, 255, 77, 1);
$russian-violet: rgba(36, 30, 78, 1);
$white-smoke: rgba(241, 237, 238, 1);
$cambridge-blue: rgba(105, 161, 151, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-right: linear-gradient(90deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-bottom: linear-gradient(180deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-left: linear-gradient(270deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-top-right: linear-gradient(45deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-bottom-right: linear-gradient(135deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-top-left: linear-gradient(225deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-bottom-left: linear-gradient(315deg, #bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);
$gradient-radial: radial-gradient(#bf211eff, #cbff4dff, #241e4eff, #f1edeeff, #69a197ff);